main
{
    position: relative;
    width: 100%;
    height: 100%;
}
main .parallax
{
    pointer-events: none;
    transform: translate(-50%, -50%) perspective(2300px);
    transition: 0.45s cubic-bezier(0.2, 0.45, 0.32, 0.99);
}
main .bg-img
{
    width: 2800px;
    position: absolute;
    top: calc(50% - 390px);
    left: calc(50% + 10px);
    z-index: 1;
}
main .fog-7
{
    width: 1900px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    z-index: 2;
}
main .mountain-10
{
    width: 892px;
    position: absolute;
    top: calc(50% + 69px);
    left: calc(50% + 230px);
    z-index: 3;
}
main .fog-6
{
    width: 1610px;
    position: absolute;
    top: calc(50% + 85px);
    left: calc(50% + 10px);
    z-index: 4;
}
main .mountain-9
{
    width: 470px;
    position: absolute;
    top: calc(50% + 113px);
    left: calc(50% - 457px);
    z-index: 5;
}
main .mountain-8
{
    width: 810px;
    position: absolute;
    top: calc(50% + 86px);
    left: calc(50% - 190px);
    z-index: 6;
}
main .fog-5
{
    width: 450px;
    position: absolute;
    top: calc(50% + 160px);
    left: calc(50% + 20px);
    z-index: 7;
}
main .mountain-7
{
    width: 538px;
    position: absolute;
    top: calc(50% + 123px);
    left: calc(50% + 305px);
    z-index: 8;
}


/* Text */
main .text
{
    position: absolute;
    top: calc(50% - 130px);
    left: 50%;
    z-index: 9;
    text-align: center;
    text-transform: uppercase;
}
main .text h2
{
    font-weight: 100;
    font-size: 6.5rem;
    letter-spacing: 20px;
    line-height: 0.88;
    font-family: "Protest Guerrilla", sans-serif;
    user-select: text !important;
    pointer-events: auto !important;
}
main .text h1
{
    font-weight: 800;
    font-size: 8rem;
    letter-spacing: 40px;
    line-height: 0.88;
    font-family: "Protest Guerrilla", sans-serif;
    user-select: text !important;
    pointer-events: auto !important;
}


main .mountain-6
{
    width: 408px;
    position: absolute;
    top: calc(50% + 60px);
    left: calc(50% + 590px);
    z-index: 10;
}
main .fog-4
{
    width: 590px;
    position: absolute;
    top: calc(50% + 223px);
    left: calc(50% - 60px);
    z-index: 11;
}
main .mountain-5
{
    width: 625px;
    position: absolute;
    top: calc(50% + 250px);
    left: calc(50% + 130px);
    z-index: 12;
}
main .fog-3
{
    width: 1600px;
    position: absolute;
    top: calc(50% + 110px);
    left: calc(50% - 15px);
    z-index: 13;
}
main .mountain-4
{
    width: 780px;
    position: absolute;
    top: calc(50% + 200px);
    left: calc(50% - 300px);
    z-index: 14;
}
main .mountain-3
{
    width: 419px;
    position: absolute;
    top: calc(50% + 133px);
    left: calc(50% + 736px);
    z-index: 15;
}
main .fog-2
{
    width: 1560px;
    position: absolute;
    top: calc(50% + 147px);
    left: calc(50% - 30px);
    z-index: 16;
}
main .mountain-2
{
    width: 690px;
    position: absolute;
    top: calc(50% + 154px);
    left: calc(50% + 412px);
    z-index: 17;
}
main .mountain-1
{
    width: 530px;
    position: absolute;
    top: calc(50% + 17px);
    left: calc(50% - 600px);
    z-index: 18;
}
main .sun-rays
{
    width: 595px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 19;
    pointer-events: none;
}
main .black-shadow
{
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 20;
    pointer-events: none;
}
main .fog-1
{
    width: 1600px;
    position: absolute;
    top: calc(100% - 355px);
    left: 50%;
    z-index: 21;
}

.vignette
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
    z-index: 100;
    pointer-events: none;
}